# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Outros
.env
*.swp
*.swo
*~
